.art-display-container {
  padding: 40px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}

.art-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  height: fit-content;
  transition: 300ms;
}

.art-display img {
  display: block;
  width: 100%;
  box-shadow: rgb(88, 88, 88) 0 0 15px;
  transition: 300ms;
  pointer-events: none;
}

.art-display iframe {
  display: block;
  width: 100%;
  height: 500px;
  pointer-events: none;
}

.art-title {
  margin-top: 10px;
  text-align: center;
  pointer-events: none;
}

.art-desc {
  display: none;
  padding: 5px 30px;
}

@media (any-pointer: fine) {
  .art-display.popup:hover {
    scale: 1.05;
    cursor: pointer;
  }

  .art-display.popup:hover img {
    box-shadow: rgb(88, 88, 88) 0 0 20px;
  }
}

/* POPUPS */
#popcov {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.95);
  animation: popcov-fade2 300ms linear forwards;
}

#popcov.pop {
  z-index: 1;
  animation: popcov-fade 300ms linear forwards;
}

@keyframes popcov-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popcov-fade2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#popcov button {
  background-color: white; /*rgb(53, 53, 53);*/
}

.art-display.modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 10%;
  max-width: 80vw;
  max-height: 80vh;
  pointer-events: none;
  overflow: auto;
  background-color: white;
  scroll-behavior: auto;
}

@media (orientation: landscape) {
  .art-display.modal img {
    width: 80%;
  }
}

.art-display.modal .art-desc {
  display: block;
}
