.art-display-container {
  padding: 40px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.art-display {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: fit-content;
  transition: 300ms;
}

.art-display img {
  display: block;
  width: 100%;
  box-shadow: rgb(88, 88, 88) 0 0 15px;
  transition: 300ms;
  pointer-events: none;
}


.art-display img.addon {
  display: none;
}

.art-display iframe {
  display: block;
  width: 100%;
  height: 500px;
  pointer-events: none;
}

.art-title {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  pointer-events: none;
}

.art-desc {
  display: none;
}

@media (any-pointer: fine) {
  .art-display.popup:hover {
    scale: 1.05;
    cursor: pointer;
  }

  .art-display.popup:hover img {
    box-shadow: rgb(88, 88, 88) 0 0 20px;
  }
}

/* POPUPS */
#popcov {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.95);
  animation: popcov-fadeout 300ms ease-out forwards;
}

#popcov.pop {
  z-index: 1;
  animation: popcov-fadein 300ms ease-out forwards;
}

@keyframes popcov-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popcov-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#popcov button {
  background-color: white; /*rgb(53, 53, 53);*/
  z-index: 5;
}

.art-display.modal {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  margin-top: 42px;
  padding: 3%;
  width: 90%;
  height: 90%;
  pointer-events: all;
  overflow-y: scroll;
  background-color: white;
  -webkit-overflow-scrolling: touch;
}

.art-display.modal img.addon {
  display: block;
  margin-top: 10px;
}

@media (orientation: landscape) {
  .art-display.modal img {
    width: 80%;
    max-width: 700px;
  }
}

/* .art-display.modal .art-desc {
  display: block;
} */