#contact {
}

#contact-title {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#email-link {
  font-size: 2em;
}
