#home {
}

#title-container {
  position: fixed;
  width: calc(100vw - 150px);
  min-width: 600px;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  font-size: 4em;
}

#navigator {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 100%;
  background-color: white;
  border-left: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#to-contact {
  position: absolute;
  top: 10px;
  padding: 5px;
  width: 90px;
  border: solid 2px black;
  background: none;
  cursor: pointer;
  text-align: center;
  font-size: 1.4em;
  font-weight: 800;
}

#art-nav {
  width: fit-content;
}

#nav-drop-btn {
  font-size: 1.4em;
  font-weight: 800;
  width: 100px;
  margin-bottom: 20px;
  background-color: white;
  border: none;
}

#nav-drop-btn div {
  display: inline-block;
  border: solid 2px black;
  border-top: none;
  border-left: none;
  margin-left: 8px;
  translate: 0 1px;
  width: 10px;
  height: 10px;
  rotate: -135deg;
  transition: 200ms;
}

#nav-drop-btn.active div {
  rotate: 45deg;
  translate: 0 -3px;
}

#nav-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 40px;
  transition: 500ms;
}

#nav-dropdown::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 306px;
  background-color: white;
  transition: 500ms;
}

#nav-dropdown.active::before{
  height: 0;
  margin-top: 306px;
}

.nav-year {
  border: none;
  background-color: transparent;
  font-size: 1.4em;
  transition: 200ms;
}

.nav-year::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: 200ms;
}

@media (any-pointer: fine) {
  .nav-year:hover {
    scale: 1.1;
  }

  .nav-year:hover::after {
    width: 100%;
  }
}
